node_modules

.env
dist
*.log
.git
*.md

**/node_modules
**/dist
**/.git
**/pnpm-lock.yaml
services/service-management
services/wallet-service
services/order-management
services/review-and-feedback
services/search-and-discovery
services/notifications-service
services/activity-service