node_modules

.env
dist
*.log
.git
*.md







**/node_modules
**/dist
**/.git
**/pnpm-lock.yaml
services/user-management
services/service-management
services/order-management
services/wallet-service
services/search-and-discovery
services/review-and-feedback